#imgModal{
    height:50px; 
    padding:0;
    border-radius:50%; 
    border:1px solid #4AAE9B; 
    padding:0.25em;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
}
 
.modal-container {
    width: 40%;
    margin: 40px auto 0; 
    background-color: #fff;
    border-radius: 6px; 
    transition: all .3s ease;
}

.modal-header { 
    color: #4AAE9B;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px; 
    padding-bottom: 10px;
}

.modal-header div{ 
    padding-top: 0.3em;
}

.modal-body{
    font-size: 15px;
    color: #4AAE9B;
}

.modal-footer{
    border-top:0;
    font-size: 13px;
    color: #4AAE9B;
    padding-top: 0;
}

.modal-enter, .modal-leave {
    opacity: 0;
}

.modal-enter .modal-container, .modal-leave .modal-container {
    -webkit-transform: scale(.7);
    transform: scale(.7); 
}

.modal-close{
    float: right;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.btn-close {
    border: none;
    padding:0;
    font-size: 20px; 
    cursor: pointer;
    font-weight: bold;
    color: rgba(218, 61, 34, 0.877);
    background: transparent;
    text-align: right
}

.modal-footer button{
    border:none;
    background-color: none;
    border-radius: 5px;
}