  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  #nav {
    padding: 30px;
  }
  
  .navbar a {
    transition: 0.3s;
    color: #068aca;
  }
  
  .navbar a:hover{
    /* font-weight: bold; */
    text-decoration: none;
    color: #068aca;
    font-weight: bold;
    margin-top:0.2em;
    border-radius: 0.3em;
  }
  
  .navbar a.router-link-exact-active {
    font-weight: bold;
    color: #068aca;
    border-radius: 0.5em;
  }
  
  img{
    height:30px; 
    border-radius:50%;
  }
  
  .navbar-brand{
    color: #068aca;
  }
  
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
  }
  
  #footer div{
    box-shadow: 0px 5px 5px #999, 0px -1px 5px #999;
    background-color:#e5e5e5;
    color:#078aca;
    text-align: center; 
    font-weight: bold;
  }
  #content{
    background-color: #f5f5f5;
    /* margin-top: 3em; */
    padding-top: 5em;
    padding-bottom: 5em;
    min-height: 700px;
  }
  
  #content thead th, #content .btn-primary{
    color:white;
    background-color: rgb(38, 164, 218);
    border-color: rgb(32, 145, 193);
  }

  #content .btn-primary:hover {
    background-color: rgb(32, 145, 193);
  }
   
  #content button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
  
  #loginFirst {
    background-color: #d2d6de
  }

  .dropdown-user {
    min-width: 12em;
  }

/* =============================== CSS FOR ALL COLOR ============================= */
#content .color-orange {
  color: #f99401;
}

/* =============================== CSS FOR ALL BUTTON ============================= */
#content .btn-blue {
  background-color: #17a1e0;
  border-color: #0b8ecc;
  color: white;
}
#content .btn-blue:hover{
  background-color: #0b8ecc;
}

#content .btn-green, .btn-green {
  background-color: #00b35e;
  border-color: #05ab58;
  color: white;
}
#content .btn-green:hover, .btn-green:hover{
  background-color: #078a49;
}

#content .btn-orange {
  background-color: #f99401;
  border-color: #e88a00;
  color: white;
}
#content .btn-orange:hover{
  background-color: #e88a00;
}

#content .btn-gray{
  background-color: #a7a7a7;
  border-color: #929292;
  color: white;
}
#content .btn-gray:hover{
  background-color: #929292;
}

#content .btn-red{
  background-color: #e20606;
  border-color: #bf0202;
  color: white;
}
#content .btn-red:hover{
  background-color: #bf0202;
}

#content .input-gray {
  background-color: #e4e4e4;
  border-color: #c2c2c2;
}
/* =============================== CSS FOR BLOCK CONTAINER ======================== */
  .block{
    font-family: 'Glegoo', Helvetica, Arial, serif !important;
    background-color:white; 
    padding: 1em; 
    border-radius:0.5em;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    transition: transform 0.3s;
    border: 1px solid #dee2e6;
  }
 
  .block:hover {
    box-shadow: 0 1px 10px #999;
  }
   /* ======================== END OF CSS FOR BLOCK CONTAINER ======================== */

   /* =============================== CSS FOR TABLE =========================== */
  .table, #content input{
    font-size: 13px;
  }

  .table{
    border: 1px solid #dee2e6;
  }
  thead {
    background-color: rgb(38, 164, 218);
    color: white;
    font-weight: bold;
  }

  tbody tr td{
   word-break: break-all;
  }

  thead tr td{
    word-break: break-all;
  }
   /* ======================== END OF CSS FOR TABLE =========================== */

  /* ============================== CSS FOR BUTTON MODIFY =========================== */
  .qty {
    display: flex;
  }

  .qty input {
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    width: 2.3em;
    text-align: center;
  }
  .qty button {
    padding: 0 0.75em;
    font-size: 0.5em;
    cursor: pointer;
  }

  .qty button.btn-right{
    border-radius: 0 0.5em 0.5em 0;
  }

  .qty button.btn-left{
    border-radius: 0.5em 0 0 0.5em;
  }

  .btn-book{
    margin-left:1px;
    width: 5em;
    border-radius: 0.5em;
    height: 30px;
  }
  /* ======================== END OF CSS FOR BUTTON MODIFY =========================== */